# Top-most EditorConfig file
root = true

# All generic files should use MSDOS style endings, not Unix (lf)
[*]
end_of_line = crlf
indent_style = tab

# Powershell
[*.{ps1,psd1,psm1}]
indent_style = space
indent_size = 4
trim_trailing_whitespace = true

[*.{cs,vb}]
tab_width = 4
indent_size = 4
end_of_line = crlf
indent_style = tab
trim_trailing_whitespace = true
insert_final_newline = true
