<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear/>
    <add key="nuget.org" value="https://www.nuget.org/api/v2/" />
    <add key="AvaloniaCI" value="https://www.myget.org/F/avalonia-ci/api/v2" />
    <add key="ilspy" value="https://ci.appveyor.com/nuget/ilspy-masterfeed" />
  </packageSources>
</configuration>
